@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [type="text"],
    [type="email"],
    [type="url"],
    [type="password"],
    [type="number"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="week"],
    [multiple],
    textarea,
    select {
      @apply w-full rounded-md shadow-sm focus:border-lightBlue my-3 h-[50px] px-5;
    }
    [type="checkbox"],
    [type="radio"] {
      @apply rounded-md focus:border-lightBlue my-3;
    }
  }

  #dev-card:hover #dev-info-container{
    background:none;
    transition: all 0.3s ease;
  }

  #dev-info-container > * {
    transform: translateY(20px);
    transition: 0.3s;
  }
  
  #dev-info-container:hover .dev-info{
    opacity: 1;
    transition: all 0.3s ease;
    
  }
  
  #dev-info-container:hover > * {
    transform: translateY(0);
  }